<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>

    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div class="box">
        <h1>Hello Welcome to my Page.</h1>
        <h1>I am Learning!</h1>
        <h2>Express App devlopment process....</h2>
        <h3>Calculate 52+8 = <%= 52+8%>
        </h3>
        <img src="/images/download.jfif" />
    </div>

    <script src="/javascripts/script.js"></script>
</body>

</html>